@model School_Blog_project.Models.ArticleListingPageViewModel

@{
    // Set the browser title.
    ViewData["Title"] = Model.Heading;
}

<div class="row">
    <!-- Main content -->
    <div class="col-12 col-md-8">
        @await Html.PartialAsync("_ArticleList", Model)
    </div>

    <!-- Sidebar content -->
    <aside class="col-12 col-md-4">
        @await Html.PartialAsync("_NewsArchives", Model.NewsArchives)
        @await Html.PartialAsync("_MediaContact")
    </aside>
</div>