@{
    ViewData["Title"] = "Faculty";
    ViewData["SelectedCategory"] = "Faculty";
}

<div class="row">
    <div class="col-12 col-md-8">
        @Html.Partial("_ArticleList")  <!-- will render placeholders until model is provided -->
    </div>

    <aside class="col-12 col-md-4">
        @Html.Partial("_NewsArchives")
        @Html.Partial("_MediaContact")
    </aside>
</div>