@page
@model School_Blog_project.Pages.WriterOnly.IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsWriter")]

<h1>Writer Only Page</h1>
<p>This page is only visible to users with IsWriter = true.</p>
